@charset "UTF-8";
* {
    margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;
}
.coursebox {
	margin-top: 14px;
    margin-bottom : 50px;
    border-radius: 20px;
    padding: 20px;
    width: 900px;
    margin : auto;
}

h2 {
    text-align: center;
    height: 70px;
    margin-top: 20px;
}
textarea {
	width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

/*1:1 문의, 회원정보 수정 버튼*/
.butnn {
	 position: relative;
	 height: 80px;
	 width: 100%;
}
.btn-3d {
  position: absolute;
  top: 0px;
  right: 10px;
  justify-content: right;
  display: inline-block;
  font-size: 14px;
  padding: 10px 16px;
  color: rgb(0, 0, 0);
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d-2 {
  top: 0px;
  right:124px;
  
}
.bt-3d.yellow:hover {background-color: #F0D264;}
.btn-3d:active {
  top: 9px;
}
/* 3D button colors */

.btn-3d.yellow {
  background-color: #F0D264 !important; 
  box-shadow: 0 0 0 1px #F0D264 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgba(196, 172, 83, .7),
        0 8px 0 1px rgba(0,0,0,.4),
        0 8px 8px 1px rgba(0,0,0,0.5) !important;
}
a.btn-3d{
	text-decoration: none;
}
.btn-3d.yellow:active {
  box-shadow: 0 0 0 1px #F0D264 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}



/*타이핑효과*/
.typing {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  margin-top: 20px;
  background-color: initial;
  /*text-shadow: 15px 15px 15px rgb(238, 238, 238);*/
  font-style: italic;
}
.msgg {
  font-size: 13px;
  margin-left: .6rem;
  background-color: initial;	
 /* text-shadow: 15px 15px 15px rgb(238, 238, 238);*/
  font-style: italic;
}

.msgg::after {
  content: '';
  margin-left: .4rem;
  border-right: 2px solid #777;
  animation: cursor .9s infinite steps(2);
}
@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

